*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: rgb(255, 255, 255) !important;
  font-family: 'Dancing Script', cursive;
}
p, h2{
  font-family: 'Dancing Script', cursive;
}
button {
  font-family: 'Dancing Script', cursive;
  cursor: pointer;
}
.button {
  display: inline-block;
  background-color: #2d74e5;
  text-decoration: none;
  color: white;
}
.buttona {
  display: inline-block;
  text-decoration: none;
  color: white;
}
.first_part {
  background-color: #2d74e5;
  position: relative;
  height: calc(var(--vh, 1vh) * 100);
}
.nav {
  color: #fff;
}
.container {
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
.header {
  padding-top: 55px;
  padding-bottom: 55px;
  display: flex;
  justify-content: space-between;
}
.title {
  font-size: 55px;
  color: white;
}
.header_list {
  display: flex;
}
.list-item {
  list-style: none;
  font-size: 55px;
  cursor: pointer;
  color: #fff;
}
.list-item:not(:last-child) {
  margin-right: 55px;
}
.list-item_contact {
  text-decoration: none;
  color: white;
}
.home {
  padding-top: 150px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}
.home_title {
  color: white;
  font-size: 60px;
  padding-top: 15px;
}
.first_title {
  text-align: left;
  margin-left: 200px;
}

.third_title {
  padding-right: 30px;
  text-align: right;
}

.form_notice {
  font-size: 45px;
  padding-top: 100px;
  color: grey;
}

.arrow {
  filter: invert(1);
  width: 50px;
  position: absolute;
  bottom: 10px;
  left: calc(50% - 25px);
  animation: arrowDown 2s infinite;
  cursor: pointer;
}

.arrow.two {
  opacity: 0;
  animation-delay: 1s;
}
@keyframes arrowDown {
  0% {
    bottom: 30px;
    opacity: 1;
  }
  50% {
    bottom: 0;
  }
  100% {
    bottom: 30px;
    opacity: 0;
  }
}
.btn_about {
  width: 300px;
  height: 70px;
  background-color: #00b6ff;
  margin-top: 120px;
  font-size: 35px;
  color: #fff;
  box-shadow: 10px 10px 8px 2px rgba(0, 0, 0, 0.3);
  border: 0;
  transform: rotate(-35deg);
}
.about_me {
  padding-top: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
.about_text {
  padding-left: 140px;
  padding-right: 140px;
  padding-bottom: 100px;
  font-size: 35px;
  text-align: center;
  color: grey;
  
}
.btn_cv {
  font-size: 25px;
  color: #fff;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  margin-top: 45px;
  margin-bottom: 45px;
  background-color: rgb(111, 111, 230);
  border-radius: 14px;
  border: 0;
}
.middle {
  background-color: #2d74e5;
  position: relative;
}
.my_projects {
  padding-bottom: 70px;
}
.btn_projects {
  width: 300px;
  height: 70px;
  background-color: #00b6ff;
  margin-top: 150px;
  font-size: 35px;
  color: #fff;
  box-shadow: 10px 10px 8px 2px rgba(0, 0, 0, 0.3);
  border: 0;
  transform: rotate(-35deg);
}
.prj_text {
  font-size: 45px;
  color: #fff;
  margin-bottom: 50px;
}
.prj_wraper {
  text-align: center;
}
.prj_descr {
  margin-left: 30px;
}
.block {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
.description {
  font-size: 30px;
  color: #fff;
  margin-bottom: 20px;
}
.btn_prj {
  width: 150px;
  height: 50px;
  border-radius: 10px;
  background-color: #2d74e5;
  color: white;
  border-color: white;
  font-size: 30px;
  margin-right: 10px;
}
.footer {
  height: 900px;
}
.footer_txt {
  margin-top: 250px;
  font-size: 25px;
}
.footer_wrap {
  text-align: center;
}
.social {
  color: grey;
  margin-right: 70px;
}
.footer_title {
  padding-left: 120px;
  padding-right: 120px;
  text-align: center;
  font-size: 45px;
  color: grey;
}
.footer_social {
  display: flex;
  justify-content: center;
}

.custom-shape-divider-bottom-1663752901 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1663752901 svg {
  position: relative;
  display: block;
  width: calc(103% + 1.3px);
  height: 40px;
}

.custom-shape-divider-bottom-1663752901 .shape-fill {
  fill: #ffffff;
}
.custom-shape-divider-top-1663752976 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1663752976 svg {
  position: relative;
  display: block;
  width: calc(103% + 1.3px);
  height: 63px;
}

.custom-shape-divider-top-1663752976 .shape-fill {
  fill: #ffffff;
}

.custom-shape-divider-bottom-1663753158 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1663753158 svg {
  position: relative;
  display: block;
  width: calc(103% + 1.3px);
  height: 60px;
}

.custom-shape-divider-bottom-1663753158 .shape-fill {
  fill: #ffffff;
}
